body{
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    top: 15%;
    color: black;
    background:linear-gradient(to right, red, yellow);
    }
    h1{
        letter-spacing: .5em;
        text-transform: uppercase;
        text-align: center;
        color: black;
        width: 100%;
    }
    h3{
    text-transform:none;
    text-align: center;
    color: black;
    }